
/* 1 */
#idAcampPlace {

display: flex;
justify-content: center;

}

#editDivAcamp {

display: none;
position: absolute;
z-index: 2;
background-color: rgb(141, 70, 39);
padding: 10px;
justify-content: flex-start;
flex-direction:column;
align-items: stretch;
gap: 10px;

}
.acampBox {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;
}

.florest {

background-color: green;

}


.NaN{

border: none;

}

.UpDiv{

   display: flex;
   width: 100px;
   height: 200px;
   background-color: brown;
   border: none;
   transition: 0.3s ease;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
} 

.UpDiv:hover {

    width: 150px;
    height: 250px;
    transition: 0.3s ease;
 
} 

.UpDiv:hover {

    width: 150px;
    height: 250px;
    transition: 0.3s ease;
 
} 



.tree {

    background-image: url(treeDiv.png);

}

.cabin {

    background-image: url(AcampDiv.png);

}

.rock {

    background-image: url(rockDiv.png);

}

.campfire {

    background-image: url(FogDiv.png);

}

.Ptrigo{

    background-image: url(PNull.png);

}

#btnAcampamento {

    display: none;

}

#mapaAcamp {

    display: none;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

#aa {

    display: none;
}

#btnColetar {

display: none;

}

#btnDormir {

display: none;

}

#quantiaStand1 {

display: none;

}

#quantiaStand2 {

display: none;

}

#quantiaStand3 {

display: none;

}

#quantiaStand4 {

display: none;

}

#quantiaStand5 {

display: none;

}

#coletarId {

transition: 0.4s;

}

#idInfo {

    flex-direction: column;
    text-align: center;
    display: none;
    justify-content: center;

}


.blockInvAcamp {

background-color: rgb(137, 34, 34);
padding: 5px;
border: none;

}