
/* 1 */
.tree {

    background-image: url(ui/treeDiv.png);

}

.rock {

    background-image: url(ui/rockDiv.png);

}

.verde {

    background-color: green;
    

}
#Ax1y1 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax1y2 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax1y3 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax1y4 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax1y5 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax1y6 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax1y7 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax1y8 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

/* 2 */

#Ax2y1 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax2y2 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax2y3 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax2y4 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax2y5 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax2y6 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax2y7 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax2y8 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}
/* 3 */

#Ax3y1 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax3y2 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax3y3 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax3y4 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax3y5 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax3y6 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax3y7 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax3y8 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

/* 4 */

#Ax4y1 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax4y2 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax4y3 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax4y4 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;


}

#Ax4y5 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax4y6 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax4y7 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax4y8 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}
/* 5 */

#Ax5y1 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax5y2 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax5y3 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax5y4 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax5y5 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax5y6 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax5y7 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax5y8 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

/* 6 */

#Ax6y1 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax6y2 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax6y3 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax6y4 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax6y5 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax6y6 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax6y7 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax6y8 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}
/* 7 */

#Ax7y1 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax7y2 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax7y3 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax7y4 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax7y5 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax7y6 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax7y7 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax7y8 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

/* 8 */

#Ax8y1 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax8y2 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax8y3 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax8y4 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax8y5 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax8y6 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax8y7 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#Ax8y8 {

text-align: center;
width: 32px;
height: 32px;
border: none;
transition: 0.5s;

}

#btnAcampamento {

    display: none;

}

#mapaAcamp {

    display: none;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

#aa {

    display: none;
}

#btnColetar {

display: none;

}

#btnDormir {

display: none;

}

#quantiaStand1 {

display: none;

}

#quantiaStand2 {

display: none;

}

#quantiaStand3 {

display: none;

}

#quantiaStand4 {

display: none;

}

#quantiaStand5 {

display: none;

}

#coletarId {

transition: 0.4s;

}

#idInfo {

    flex-direction: column;
    text-align: center;
    display: none;
    justify-content: center;

}