.mapBox {
    box-shadow: inset 0px 0px 0px 0px red;
}

#x1y1{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x2y1{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x3y1{
    background-color: rgb(133, 204, 255);
    width: 25px;
    height: 25px;
}

#x4y1{
    background-color: rgb(133, 204, 255);
    width: 25px;
    height: 25px;
}

#x5y1{
    background-color: rgb(133, 204, 255);
    width: 25px;
    height: 25px;
}
/*2*/
#x1y2{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x2y2{
    background-color: rgb(204, 165, 92);
    width: 25px;
    height: 25px;
}

#x3y2{
    background-color: rgb(204, 165, 92);
    width: 25px;
    height: 25px;
}

#x4y2{
    background-color: rgb(133, 204, 255);
    width: 25px;
    height: 25px;
}

#x5y2{
    background-color: rgb(133, 204, 255);
    width: 25px;
    height: 25px;
}
/*3*/
#x1y3{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x2y3{
    background-color: rgb(204, 165, 92);
    width: 25px;
    height: 25px;
}

#x3y3{
    background-color: rgb(204, 165, 92);
    width: 25px;
    height: 25px;
}

#x4y3{
    background-color: rgb(204, 165, 92);
    width: 25px;
    height: 25px;
}

#x5y3{
    background-color: rgb(204, 165, 92);
    width: 25px;
    height: 25px;
}
/*4*/
#x1y4{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x2y4{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x3y4{
    background-color: rgb(204, 165, 92);
    width: 25px;
    height: 25px;
}

#x4y4{
    background-color: rgb(204, 165, 92);
    width: 25px;
    height: 25px;
}

#x5y4{
    background-color: rgb(133, 204, 255);
    width: 25px;
    height: 25px;
}
/*5*/
#x1y5{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x2y5{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x3y5{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x4y5{
    background-color: rgb(68, 154, 7);
    width: 25px;
    height: 25px;
}

#x5y5{
    background-color: rgb(133, 204, 255);
    width: 25px;
    height: 25px;
}

