.mapBox {
    box-shadow: inset 0px 0px 0px 0px red;
    height: 32px;
    width: 32px;
    background-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapBoxDiv{

display: flex;

}








.floresta {

    background-color: #3D6E70FF;
    

}

.florestaCongelada {

    background-color: rgb(186, 186, 229);
    

}

.duna {

    background-color: rgb(232, 219, 168);
    

}

.mar {

background-color: #4DA6FFFF;

}

.verde {

    background-color: green;
    

}

.montanha {

    background-color: #7E7E8FFF;
    

}

.praia {

    background-color: rgb(238, 228, 191);
    

}

.planicie {

    background-color: #3CA370FF;

}










#x1y1{
    background-color: rgb(68, 154, 7);
    
    
}

#x2y1{
    background-color: rgb(68, 154, 7);
    
    
}

#x3y1{
    background-color: rgb(133, 204, 255);
    
    
}

#x4y1{
    background-color: rgb(133, 204, 255);
    
    
}

#x5y1{
    background-color: rgb(133, 204, 255);
    
    
}
/*2*/
#x1y2{
    background-color: rgb(68, 154, 7);
    
    
}

#x2y2{
    background-color: rgb(204, 165, 92);
    
    
}

#x3y2{
    background-color: rgb(204, 165, 92);
    
    
}

#x4y2{
    background-color: rgb(133, 204, 255);
    
    
}

#x5y2{
    background-color: rgb(133, 204, 255);
    
    
}
/*3*/
#x1y3{
    background-color: rgb(68, 154, 7);
    
    
}

#x2y3{
    background-color: rgb(204, 165, 92);
    
    
}

#x3y3{
    background-color: rgb(204, 165, 92);
    
    
}

#x4y3{
    background-color: rgb(204, 165, 92);
    
    
}

#x5y3{
    background-color: rgb(204, 165, 92);
    
    
}
/*4*/
#x1y4{
    background-color: rgb(68, 154, 7);
    
    
}

#x2y4{
    background-color: rgb(68, 154, 7);
    
    
}

#x3y4{
    background-color: rgb(204, 165, 92);
    
    
}

#x4y4{
    background-color: rgb(204, 165, 92);
    
    
}

#x5y4{
    background-color: rgb(133, 204, 255);
    
    
}
/*5*/
#x1y5{
    background-color: rgb(68, 154, 7);
    
    
}

#x2y5{
    background-color: rgb(68, 154, 7);
    
    
}

#x3y5{
    background-color: rgb(68, 154, 7);
    
    
}

#x4y5{
    background-color: rgb(68, 154, 7);
    
    
}

#x5y5{
    background-color: rgb(133, 204, 255);
    
    
}

